#picPanel li{
    list-style: none;
}
#picPanel img {
    display: block;
}
.pagination {
    width: 100%;
    left: 0;
    bottom: 10px;
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pagination span {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: .5;
    margin: 0 3px;
}
.pagination span.active {
    opacity: 1;
    background: #007AFF;
}
.pic-panel {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.pic-list {
    width: 100%;
    position: relative;
}
.pic-list li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.pic-list .re {
    position: relative;
    z-index: 2;
}
.pic-list li img {
    width: 100%;
    height: 14rem;
}
.pic-list li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 600px) {
    .pic-box {
        position: relative;
        top: 0;
        left: 25%;
        width: 50%;
    }
    .pic-list li:nth-child(2) {
        left: 100%;
    }
    .pic-list li:last-child {
        left: -100%;
    }
    .pic-list li img {
        padding: 0 0.125rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
.godsky-navbar-bg{
    background-color: #1c9dc2;
    border-color: #1886a5;
    color: #fff;
}
.ico-size-25{
    font-size: 25px;
}
.ico-bg-color{
    color: #1c9dc2;
}
.page__title{
    font-size: 21px;
    color: #6d6d72;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.index-list-img{
    width: 100%;
    height: 131px;
}
.index-video-list{
    padding: 0px;
}
.index-list-left-right-padding{
    padding: 0px 3px;
}
.index-list-box{
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    border-radius: 2px;
}
.body-bg{
    background-color: #efeff4 !important;
}
.color-gray{
    color: #999999;
}
.color-bg-zhuti{
    background-color: #1c9dc2!important;
}
.color-zhuti{
    color: #1c9dc2!important;
}
.border-top-none:before{
    border-top:none !important;
}
.border-left-none:after{
    border-left:none !important;
}
.line-height-28{
    line-height: 28px;
}
.line-height-36{
    line-height: 36px;
}
.font-size-3{
    font-size: .3rem;
}
.font-size-5{
    font-size: .5rem !important;
}
.font-size-9{
    font-size: .9rem;
}
.font-size-12{
    font-size: 1.2rem;
}
.font-size-25{
    font-size: 25px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-60{
    font-size: 6rem;
}
.margin-right-3{
    margin-right: 3px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-0{
    margin-top: 0px;
}
.box-title{
    position: absolute;
    bottom: 38px;
    color: #fff;
    left: 7px;
    font-size: 1rem;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.tool-bar-bottom{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0px;
    height: 2rem;
}
.padding-bottom-75{
    padding-bottom: 75px;
}
.padding-top-49{
    padding-top: 49px;
}
.list-box-title{
    font-size: 1.1rem !important;
    text-align: left !important;
}
.player-ico-fa{
    position: absolute;
    left: 38%;
    top: 39%;
    font-size: 6rem;
    color: #1c9dc2;
}
.page-btn-line-height{
    line-height: 2.3rem;
    font-size: 1rem;
}
.Login-title{
    text-align: center;
    margin-top: 53px;
    letter-spacing: 36px;
}
.member-top-img{
    text-align: center;
    margin-top: 1rem;
}
.top-nav-bg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: .4rem 1rem;
}
#my-player{
    width: 100%;
    height: 18rem;
}
